@charset "UTF-8";

:root {
    --cor0: #1f89ec;
    --cor1: #2188cc;
    --cor2: #0d9ec2;
    --cor3: #000000;
    --cor4: #c2c2c2;
    --cor5: #ffffff;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
}

body {
    background-color: var(--cor4);
    font-family: var(--font-padrao);
}

header {
    background-color: black;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    padding-bottom: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
header > h1 {
    color: var(--cor5);
    font-size: 1.5em;
}

header > p {
    color: var(--cor4);
    font-size: 1.2em;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
}

main > article > h1 {
    color:  var(--cor0);
    font-weight: normal;
}

main > article > h2 {
    color: var(--cor1);
    font-size: 1.3em;
    font-weight: normal;
}

main strong {
    color: var(--cor0);
    font-weight: bold;
}

main > p {
    color: var(--cor3);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
}

footer {
    background-color: var(--cor3);
    color: var(--cor5);
    text-align: center;
    font-size: 0.8em;
    padding: 20px;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 300px;
    max-width: 1000px;
}